.container{
    width: 1200px;
    height: 600px;
    margin: 10px 35px;
    border-radius: 10px;
} 

.intro{
    font-size: 45px;
    position: relative;
    top: 150px;
    left: 30px;
}

.intro1{
    font-size: 45px;
    position: relative;
    top: 170px;
    left: 30px;
}

.myRole{
    font-size: 45px;
    position: relative;
    top: 190px;
    left: 30px;
}

span{
    padding: 6px;
    color: #F5EFEB;
    background-color: #2f4156;
    border-radius: 7px;
}

.heroImg img{
    height: 620px;
    position: absolute;
    top: 100px;
    right: 310px;
    filter: drop-shadow(10px 10px 30px #2f415673);
}

.glass{
    width: 270px;
    padding: 20px;
    font-size: 18px;
    background: #f5efeb63;
    border-radius: 10px;
    border: 1px solid #F5EFEB;
    position: relative;
    top: 10px;
    left: 930px;
    backdrop-filter: blur(10px);
}

.downloadCv{
    width: 190px;
    padding: 20px;
    font-size: 19px;
    text-decoration: underline;
    text-underline-offset: 8px;
    position: relative;
    top: 22px;
    left: 1030px;
    cursor: pointer;
}

.down{
    position: relative;
    top: 4px;
}

@media screen and (max-width: 375px) {
    .container{
        width: 100%;
        margin: 0px;
    } 

    .intro{
        width: 300px;
        font-size: 25px;
        position: relative;
        top: 50px;
    }

    .intro1{
        width: 300px;
        font-size: 25px;
        position: relative;
        top: 70px;
    }

    .myRole{
        width: 320px;
        font-size: 25px;
        position: relative;
        top: 90px;
    }

    .heroImg img{
        width: 90%;
        height: 420px;
        position: absolute;
        top: 280px;
        right: 70px;
    }

    .glass{
        width: 135px;
        padding: 12px;
        font-size: 10px;
        position: relative;
        top: 230px;
        left: 190px;
    }

    .downloadCv{
        width: 100px;
        padding: 5px;
        font-size: 10px;
        position: relative;
        top: 240px;
        left: 250px;
    }
}