.container{
    width: 1200px;
    height: 600px;
    margin: 10px 35px;
    border-radius: 10px;
} 

.intro{
    font-size: 45px;
    position: relative;
    top: 150px;
    left: 30px;
}

.intro1{
    font-size: 45px;
    position: relative;
    top: 170px;
    left: 30px;
}

.myRole{
    font-size: 45px;
    position: relative;
    top: 190px;
    left: 30px;
}

span{
    color: #F5EFEB;
}

.heroImg img{
    height: 620px;
    position: absolute;
    top: 100px;
    right: 310px;
    filter: drop-shadow(10px 10px 30px #2f415673);
}

.glass{
    width: 270px;
    padding: 20px;
    font-size: 18px;
    background: #f5efeb63;
    border-radius: 10px;
    border: 1px solid #F5EFEB;
    position: relative;
    top: 10px;
    left: 930px;
    backdrop-filter: blur(10px);
}

.downloadCv{
    width: 190px;
    padding: 20px;
    font-size: 19px;
    text-decoration: underline;
    text-underline-offset: 8px;
    position: relative;
    top: 22px;
    left: 1030px;
    cursor: pointer;
}

.down{
    position: relative;
    top: 4px;
}