.backWord {
    font-size: 150px;
    padding-top: 50px;
    color: #2f415612;
    text-align: center;
    position: relative;
    top: 60px;
}

.frontWord {
    font-size: 60px;
    color: #2f4156;
    position: relative;
    top: -50px;
    text-align: center;
}

.title{
    width: 300px;
    margin-top: 20px;
    font-size: 40px;
    display: flex;
    gap: 20px;
    position: relative;
    left: 235px;
}

.details{
    width: 70%;
    margin-left: 40px;
    padding-bottom: 20px;
    padding-top: 30px;
    border-top: 1px solid #2f4156;
    border-bottom: 1px solid #2f4156;
    display: flex;
}

.details img {
    width: 45px;
    height: 45px;
    padding: 10px;
    margin-right: 20px;
    background: #F5EFEB;
    border-radius: 5px;
}
.education, .experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.inner p:nth-child(1){
    font-size: 20px;
}

.inner p:nth-child(2){
    font-size: 25px;
    font-weight: 600;
}

.inner p:nth-child(3){
    font-size: 22px;
}

.inner p:nth-child(4){
    font-size: 20px;
}
