.backWord {
    font-size: 150px;
    padding-top: 50px;
    color: #F5EFEB12;
    text-align: center;
    position: relative;
    top: 60px;
}

.frontWord {
    font-size: 60px;
    color: #F5EFEB;
    position: relative;
    top: -50px;
    text-align: center;
}

.title {
    width: 300px;
    margin-top: 20px;
    font-size: 40px;
    display: flex;
    gap: 20px;
    position: relative;
    left: 235px;
}

.border {
    width: 70%;
    border-bottom: 1px solid #F5EFEB;
    position: relative;
    left: 235px;
}

.details {
    width: 70%;
    margin-left: 40px;
    padding-bottom: 20px;
    padding-top: 30px;
    border-bottom: 1px solid #F5EFEB;
    display: flex;
}

.details img {
    width: 45px;
    height: 45px;
    padding: 10px;
    margin-right: 20px;
    background: #F5EFEB;
    border-radius: 5px;
}

.education,
.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.inner p:nth-child(1) {
    font-size: 20px;
}

.inner p:nth-child(2) {
    font-size: 25px;
    font-weight: 600;
}

.inner p:nth-child(3) {
    font-size: 22px;
}

.inner p:nth-child(4) {
    font-size: 20px;
}

@media screen and (min-width: 360px) and (max-width: 412px) {
    .backWord {
        font-size: 60px;
        padding-top: 40px;
    }

    .frontWord {
        font-size: 25px;
        position: relative;
        top: 15px;
    }

    .title {
        width: 50%;
        margin-top: 55px;
        font-size: 25px;
        display: flex;
        gap: 9px;
        position: relative;
        left: 25px;
    }

    .border {
        width: 90%;
        position: relative;
        left: 25px;
    }

    .details {
        width: 90%;
        margin-left: 25px;
        padding-bottom: 20px;
        padding-top: 30px;
        display: flex;
    }

    .details img {
        width: 30px;
        height: 30px;
        padding: 10px;
        margin-right: 20px;
        background: #F5EFEB;
        border-radius: 5px;
    }

    .education,
    .experience {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 4px;
    }

    .inner p:nth-child(1) {
        font-size: 13px;
    }

    .inner p:nth-child(2) {
        font-size: 18px;
        font-weight: 600;
    }

    .inner p:nth-child(3) {
        font-size: 13px;
    }

    .inner p:nth-child(4) {
        font-size: 13px;
    }
}

@media screen and (min-width: 413px) and (max-width: 550px) {
    .backWord {
        font-size: 60px;
        padding-top: 40px;
    }

    .frontWord {
        font-size: 25px;
        position: relative;
        top: 15px;
    }

    .title {
        width: 50%;
        margin-top: 55px;
        font-size: 25px;
        display: flex;
        gap: 9px;
        position: relative;
        left: 25px;
    }

    .border {
        width: 90%;
        position: relative;
        left: 25px;
    }

    .details {
        width: 90%;
        margin-left: 25px;
        padding-bottom: 20px;
        padding-top: 30px;
        display: flex;
    }

    .details img {
        width: 30px;
        height: 30px;
        padding: 10px;
        margin-right: 20px;
        background: #F5EFEB;
        border-radius: 5px;
    }

    .education,
    .experience {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 4px;
    }

    .inner p:nth-child(1) {
        font-size: 13px;
    }

    .inner p:nth-child(2) {
        font-size: 18px;
        font-weight: 600;
    }

    .inner p:nth-child(3) {
        font-size: 13px;
    }

    .inner p:nth-child(4) {
        font-size: 13px;
    }
}

@media screen and (min-width: 551px) and (max-width: 723px) {
    .backWord {
        font-size: 100px;
        padding-top: 40px;
    }

    .frontWord {
        font-size: 35px;
        position: relative;
        top: -7px;
    }

    .title {
        width: 50%;
        margin-top: 55px;
        font-size: 35px;
        display: flex;
        gap: 9px;
        position: relative;
        left: 25px;
    }

    .border {
        width: 90%;
        position: relative;
        left: 25px;
    }

    .details {
        width: 90%;
        margin-left: 25px;
        padding-bottom: 20px;
        padding-top: 30px;
        display: flex;
    }

    .details img {
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-right: 20px;
        background: #F5EFEB;
        border-radius: 5px;
    }

    .education,
    .experience {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 4px;
    }

    .inner p:nth-child(1) {
        font-size: 17px;
    }

    .inner p:nth-child(2) {
        font-size: 20px;
        font-weight: 600;
    }

    .inner p:nth-child(3) {
        font-size: 17px;
    }

    .inner p:nth-child(4) {
        font-size: 17px;
    }
}

@media screen and (min-width: 724px) and (max-width: 1024px) {
    .backWord {
        font-size: 130px;
        padding-top: 40px;
    }

    .frontWord {
        font-size: 45px;
        position: relative;
        top: -30px;
    }

    .title {
        width: 50%;
        margin-top: 55px;
        font-size: 37px;
        display: flex;
        gap: 9px;
        position: relative;
        left: 50px;
    }

    .border {
        width: 90%;
        position: relative;
        left: 50px;
    }

    .details {
        width: 90%;
        margin-left: 25px;
        padding-bottom: 20px;
        padding-top: 30px;
        display: flex;
    }

    .details img {
        width: 43px;
        height: 43px;
        padding: 10px;
        margin-right: 20px;
        background: #F5EFEB;
        border-radius: 5px;
    }

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 4px;
    }

    .inner p:nth-child(1) {
        font-size: 19px;
    }

    .inner p:nth-child(2) {
        font-size: 24px;
        font-weight: 600;
    }

    .inner p:nth-child(3) {
        font-size: 19px;
    }

    .inner p:nth-child(4) {
        font-size: 19px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1380px) {
    .backWord {
        font-size: 130px;
        padding-top: 40px;
    }

    .frontWord {
        font-size: 45px;
        position: relative;
        top: -30px;
    }

    .title {
        width: 50%;
        margin-top: 55px;
        font-size: 37px;
        display: flex;
        justify-content: center;
        gap: 9px;
        position: relative;
        left: 25px;
    }

    .border {
        width: 70%;
        position: relative;
        left: 210px;
    }

    .details {
        width: 70%;
        margin-left: 25px;
        padding-bottom: 20px;
        padding-top: 30px;
        display: flex;
    }

    .details img {
        width: 43px;
        height: 43px;
        padding: 10px;
        margin-right: 20px;
        background: #F5EFEB;
        border-radius: 5px;
    }

    .education,
    .experience {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
    }

    .inner p:nth-child(1) {
        font-size: 19px;
    }

    .inner p:nth-child(2) {
        font-size: 24px;
        font-weight: 600;
    }

    .inner p:nth-child(3) {
        font-size: 19px;
    }

    .inner p:nth-child(4) {
        font-size: 19px;
    }
}