.backWord {
    font-size: 130px;
    padding-top: 20px;
    color: #2f415612;
    text-align: center;
    position: relative;
    top: 30px;
}

.frontWord {
    font-size: 60px;
    color: #2f4156;
    position: relative;
    top: -70px;
    text-align: center;
}

.btn {
    position: relative;
    top: 149px;
    left: 45px;
    display: flex;
}

.btnGit {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #F5EFEB;
    background: #2f4156;
    border: none;
    cursor: pointer;
}

.btnCheck {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #2f4156;
    background: #F5EFEB;
    border: none;
    cursor: pointer;
}

.allProjects {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    left: 50px;
}

.details {
    width: 97%;
    height: 26rem;
    display: flex;
    gap: 10px;
}

.details img {
    width: 50%;
    border-radius: 5px;
    position: relative;
    top: 30px;
    left: 5px;
}

.details p:nth-child(1) {
    font-size: 30px;
    font-weight: 600;
    position: relative;
    top: 80px;
    left: 48px;
}


.details p:nth-child(2) {
    font-size: 20px;
    position: relative;
    top: 101px;
    left: 52px;
}

.details p:nth-child(3) {
    font-size: 20px;
    position: relative;
    top: 124px;
    left: 52px;
}

@media screen and (min-width: 360px) and (max-width: 412px) {
    .backWord {
        font-size: 50px;
        padding-top: 40px;
    }

    .frontWord {
        font-size: 25px;
        position: relative;
        top: -10px;
    }

    .btn {
        position: relative;
        top: 72px;
        left: 0px;
    }

    .btnGit {
        width: 142px;
        height: 40px;
        padding: 0;
        font-size: 15px;
    }

    .btnCheck {
        width: 142px;
        height: 40px;
        padding: 0;
        font-size: 15px;
    }

    .allProjects {
        position: relative;
        left: 10px;
    }

    .details {
        width: 300px;
        height: 28rem;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .details img {
        width: 290px;
        height: 180px;
        position: relative;
        left: 5px;
    }

    .details p:nth-child(1) {
        font-size: 20px;
        font-weight: 600;
        position: relative;
        top: 40px;
        left: 5px;
    }


    .details p:nth-child(2) {
        font-size: 15px;
        position: relative;
        top: 50px;
        left: 5px;
    }

    .details p:nth-child(3) {
        font-size: 15px;
        position: relative;
        top: 60px;
        left: 5px;
    }

}

@media screen and (min-width: 413px) and (max-width: 550px) {
    .backWord {
        font-size: 50px;
        padding-top: 40px;
    }

    .frontWord {
        font-size: 25px;
        position: relative;
        top: -10px;
    }

    .btn {
        position: relative;
        top: 72px;
        left: 0px;
    }

    .btnGit {
        width: 142px;
        height: 40px;
        padding: 0;
        font-size: 15px;
    }

    .btnCheck {
        width: 142px;
        height: 40px;
        padding: 0;
        font-size: 15px;
    }

    .allProjects {
        position: relative;
        left: 10px;
    }

    .details {
        width: 92%;
        height: 28rem;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .details img {
        width: 350px;
        height: 180px;
        position: relative;
        left: 5px;
    }

    .details p:nth-child(1) {
        font-size: 20px;
        font-weight: 600;
        position: relative;
        top: 40px;
        left: 5px;
    }


    .details p:nth-child(2) {
        font-size: 15px;
        position: relative;
        top: 50px;
        left: 5px;
    }

    .details p:nth-child(3) {
        font-size: 15px;
        position: relative;
        top: 60px;
        left: 5px;
    }

}

@media screen and (min-width: 551px) and (max-width: 723px) {
    .backWord {
        font-size: 90px;
        padding-top: 20px;
    }

    .frontWord {
        font-size: 40px;
        position: relative;
        top: -40px;
    }

    .btn {
        position: relative;
        top: 72px;
        left: 0px;
    }

    .allProjects {
        position: relative;
        top: -20px;
        left: 10px;
    }

    .details {
        width: 92%;
        height: 28rem;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .details img {
        width: 430px;
        height: 230px;
        position: relative;
        left: 5px;
    }

    .details p:nth-child(1) {
        font-size: 25px;
        font-weight: 600;
        position: relative;
        top: 40px;
        left: 5px;
    }


    .details p:nth-child(2) {
        font-size: 18px;
        position: relative;
        top: 50px;
        left: 5px;
    }

    .details p:nth-child(3) {
        font-size: 18px;
        position: relative;
        top: 60px;
        left: 5px;
    }

     .btnGit {
        width: 142px;
        height: 40px;
        padding: 0;
        font-size: 17px;
    }

    .btnCheck {
        width: 142px;
        height: 40px;
        padding: 0;
        font-size: 15px;
    }
}

@media screen and (min-width: 724px) and (max-width: 1024px) {
    .backWord {
        font-size: 100px;
        padding-top: 20px;
    }

    .frontWord {
        font-size: 45px;
        position: relative;
        top: -50px;
    }

    .btn {
        position: relative;
        top: 72px;
        left: 0px;
    }

    .allProjects {
        position: relative;
        top: -20px;
        left: 10px;
    }

    .details {
        width: 92%;
        height: 28rem;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .details img {
        width: 430px;
        height: 230px;
        position: relative;
        left: 5px;
    }

    .details p:nth-child(1) {
        font-size: 25px;
        font-weight: 600;
        position: relative;
        top: 40px;
        left: 5px;
    }


    .details p:nth-child(2) {
        font-size: 18px;
        position: relative;
        top: 50px;
        left: 5px;
    }

    .details p:nth-child(3) {
        font-size: 18px;
        position: relative;
        top: 60px;
        left: 5px;
    }

     .btnGit {
        width: 142px;
        height: 40px;
        padding: 0;
        font-size: 17px;
    }

    .btnCheck {
        width: 142px;
        height: 40px;
        padding: 0;
        font-size: 15px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1380px){
    .backWord {
        font-size: 100px;
        padding-top: 20px;
    }

    .frontWord {
        font-size: 45px;
        position: relative;
        top: -50px;
    }

    .btn {
        position: relative;
        top: 72px;
        left: 0px;
    }

    .allProjects {
        position: relative;
        top: -20px;
        left: 10px;
    }

    .details {
        width: 92%;
        height: 14rem;
        display: flex;
        gap: 10px;
    }

    .details img {
        width: 55%;
        height: 250px;
        position: relative;
        left: 5px;
    }

    .details p:nth-child(1) {
        font-size: 26px;
        font-weight: 600;
        position: relative;
        top: 40px;
        left: 10px;
    }


    .details p:nth-child(2) {
        font-size: 20px;
        position: relative;
        top: 50px;
        left: 10px;
    }

    .details p:nth-child(3) {
        font-size: 15px;
        position: relative;
        top: 60px;
        left: 10px;
    }

     .btnGit {
        width: 142px;
        height: 40px;
        padding: 0;
        font-size: 17px;
    }

    .btnCheck {
        width: 142px;
        height: 40px;
        padding: 0;
        font-size: 15px;
    }
}