nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #C8D9E6;
}

.nav{
    padding: 25px;
    box-shadow: 0px 2px 40px -15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLogo{
    font-size: 28px;
    padding-left: 30px;
}

.socialMedia{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 30px;
    right: 80px;
}

.toggleBtn{
    position: absolute;
    right: 80px;
    cursor: pointer;
}

.navMenu{
    position: absolute;
    top: 26px;
    right: 30px;
    cursor: pointer;
}

.navContainer{
    height: 100vh;
    width: 450px;
    background: #F5EFEB;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.cross{
    position: relative;
    left: 390px;
    top: 26px;
    cursor: pointer;
}

.navContainer ul{
    margin-top: 80px;
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.navContainer ul li{
    padding: 10px;
    font-size: 35px;
    color: #2F4156;
}

@media screen and (max-width: 600px) {
    .navLogo{
        font-size: 25px;
        padding-left: 10px;
    }

    .socialMedia{
        gap: 10px;
        position: absolute;
        right: 75px;
    }

    .navContainer{
        width: 355px;
    }

    .cross{
        position: relative;
        left: 290px;
        top: 26px;
        cursor: pointer;
    }

    .navContainer ul li{
        padding: 10px;
        font-size: 32px;
        color: #2F4156;
    }
}