.nav{
    margin: 10px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLogo{
    font-size: 25px;
}

.toggleBtn{
    position: absolute;
    right: 80px;
    cursor: pointer;
}

.menuBtn{
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
}

.navContainer{
    height: 100vh;
    width: 500px;
    background: #F5EFEB;
    position: absolute;
    top: 0;
    right: 0;
}

.cross{
    background: none;
    border: none;
    position: relative;
    left: 438px;
    top: 35px;
    cursor: pointer;
}

.navContainer ul{
    margin-top: 80px;
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.navContainer ul li{
    padding: 10px;
    font-size: 30px;
    color: #2F4156;
}