.container {
    width: 98%;
    background: #F5EFEB;
    border-radius: 10px;
    position: relative;
    top: 100px;
    left: 15px;
}

.backWord {
    font-size: 100px;
    padding-top: 50px;
    color: #2f415612;
    text-align: center;
}

.frontWord {
    font-size: 60px;
    color: #2f4156;
    position: relative;
    top: -90px;
    text-align: center;
}

.intro {
    width: 95%;
    font-size: 21px;
    line-height: 35px;
    padding-left: 40px;
    text-align: start;
    color: #2f4156;
}

.info {
    margin-top: 20px;
    width: 95%;
    font-size: 21px;
    color: #2f4156;
    line-height: 35px;
    padding-left: 40px;
    text-align: start;
}

.intro span, .info span {
    padding: 6px;
    color: #F5EFEB;
    background-color: #2f4156;
    border-radius: 7px;
}

.email {
    margin-top: 20px;
    width: 95%;
    font-size: 21px;
    line-height: 35px;
    color: #2f4156;
    padding-left: 40px;
    text-align: start;
}

.cvBtn {
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    color: #F5EFEB;
    background: #2f4156;
    border: none;
    position: relative;
    top: 30px;
    left: 40px;
    cursor: pointer;
}

.connect {
    width: 265px;
    font-size: 25px;
    position: relative;
    top: -5px;
    left: 260px;
    color: #2f4156;
}

.socialMedia {
    width: 20px;
    display: flex;
    gap: 20px;
    position: relative;
    top: -104px;
    left: 540px;
    cursor: pointer;
}

.techstack {
    width: 100%;
    height: 0%;
    position: relative;
    top: 100px;
}

.back {
    font-size: 100px;
    padding-top: 50px;
    color: #F5EFEB12;
    text-align: center;
}

.front {
    font-size: 60px;
    color: #F5EFEB;
    position: relative;
    top: -90px;
    text-align: center;
}

.tech {
    width: 93%;
    position: relative;
    top: 70px;
    left: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stack {
    width: 14%;
    margin: 10px;
    padding: 10px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    background: #f5efeb63;
    border: 1px solid #F5EFEB;
    border-radius: 10px;
    cursor: pointer;
}

.stack img {
    width: 30%;
    padding-right: 10px;
}

@media screen and (min-width: 360px) and (max-width: 412px){
    .container {
        width: 95%;
        position: relative;
        top: 100px;
        left: 12px;
    }

    .backWord {
        font-size: 50px;
    }

    .frontWord {
        font-size: 30px;
        position: relative;
        top: -45px;
    }

    .intro {
        width: 90%;
        font-size: 13px;
        line-height: 30px;
        padding-left: 19px;
    }

    .info,
    .email {
        margin-top: 13px;
        width: 90%;
        font-size: 14px;
        line-height: 30px;
        padding-left: 19px;
    }

    .cvBtn {
        width: 130px;
        height: 40px;
        font-size: 14px;
        position: relative;
        top: 6px;
        left: 20px;
    }

    .connect {
        width: 265px;
        font-size: 16px;
        position: relative;
        top: 20px;
        left: 25px;
    }

    .socialMedia {
        display: flex;
        gap: 10px;
        position: relative;
        top: -75px;
        left: 190px;
    }

    .techstack {
        width: 100%;
        height: 0%;
        position: relative;
        top: 100px;
    }

    .back {
        font-size: 45px;
        padding-top: 30px;
        text-align: center;
    }

    .front {
        font-size: 30px;
        position: relative;
        top: -44px;
    }

    .tech {
        width: 90%;
        position: relative;
        left: 18px;
    }

    .stack {
        width: 42%;
        margin: 6px;
        border-radius: 5px;
    }

    .stack img {
        width: 30%;
        padding-right: 10px;
    }
}

@media screen and (min-width: 413px) and (max-width: 550px) {
    .container {
        width: 95%;
        height: 80%;
        position: relative;
        top: 100px;
        left: 12px;
    }

    .backWord {
        font-size: 50px;
    }

    .frontWord {
        font-size: 30px;
        position: relative;
        top: -45px;
    }

    .intro {
        width: 90%;
        font-size: 13px;
        line-height: 30px;
        padding-left: 19px;
    }

    .info,
    .email {
        margin-top: 13px;
        width: 90%;
        font-size: 14px;
        line-height: 30px;
        padding-left: 19px;
    }

    .cvBtn {
        width: 130px;
        height: 40px;
        font-size: 14px;
        position: relative;
        top: 6px;
        left: 20px;
    }

    .connect {
        width: 265px;
        font-size: 16px;
        position: relative;
        top: 17px;
        left: 20px;
    }

    .socialMedia {
        display: flex;
        gap: 10px;
        position: relative;
        top: -80px;
        left: 190px;
    }

    .techstack {
        width: 100%;
        height: 0%;
        position: relative;
        top: 100px;
    }

    .back {
        font-size: 45px;
        padding-top: 30px;
        text-align: center;
    }

    .front {
        font-size: 30px;
        position: relative;
        top: -44px;
    }

    .tech {
        width: 90%;
        position: relative;
        left: 18px;
    }

    .stack {
        width: 42%;
        margin: 6px;
        border-radius: 5px;
    }

    .stack img {
        width: 30%;
        padding-right: 10px;
    }
} 

@media screen and (min-width: 551px) and (max-width: 723px) {
    .container {
        width: 95%;
        height: 20%;
        position: relative;
        top: 125px;
        left: 12px;
    }

    .backWord {
        font-size: 65px;
    }

    .frontWord {
        font-size: 35px;
        position: relative;
        top: -55px;
    }

    .intro {
        width: 90%;
        font-size: 18px;
        line-height: 35px;
        padding-left: 19px;
    }

    .info,
    .email {
        margin-top: 14px;
        width: 90%;
        font-size: 18px;
        line-height: 30px;
        padding-left: 19px;
    }

    .cvBtn {
        width: 130px;
        height: 40px;
        font-size: 14px;
        position: relative;
        top: 30px;
        left: 20px;
    }

    .connect {
        width: 265px;
        font-size: 16px;
        position: relative;
        top: 5px;
        left: 167px;
    }

    .socialMedia {
        display: flex;
        gap: 10px;
        position: relative;
        top: -90px;
        left: 340px;
    }

    .techstack {
        width: 100%;
        height: 0%;
        position: relative;
        top: 120px;
    }

    .back {
        font-size: 70px;
        padding-top: 30px;
        text-align: center;
    }

    .front {
        font-size: 40px;
        position: relative;
        top: -60px;
    }

    .tech {
        width: 95%;
        position: relative;
        top: 90px;
        left: 18px;
    }

    .stack {
        width: 30%;
        margin: 6px;
        font-size: 20px;
        border-radius: 5px;
    }

    .stack img {
        width: 26%;
        padding-right: 10px;
    }
} 

@media screen and (min-width: 724px) and (max-width: 1024px) {
    .container {
        width: 95%;
        height: 20%;
        position: relative;
        top: 125px;
        left: 20px;
    }

    .backWord {
        font-size: 85px;
    }

    .frontWord {
        font-size: 45px;
        position: relative;
        top: -70px;
    }

    .intro {
        width: 87%;
        font-size: 19px;
        line-height: 38px;
        padding-left: 27px;
    }

    .info,
    .email {
        margin-top: 15px;
        width: 87%;
        font-size: 19px;
        line-height: 38px;
        padding-left: 27px;
    }

    .cvBtn {
        width: 150px;
        height: 50px;
        font-size: 17px;
        position: relative;
        top: 25px;
        left: 30px;
    }

    .connect {
        width: 265px;
        font-size: 17px;
        position: relative;
        top: -5px;
        left: 197px;
    }

    .socialMedia {
        display: flex;
        gap: 10px;
        position: relative;
        top: -100px;
        left: 385px;
    }

    .techstack {
        width: 100%;
        height: 0%;
        position: relative;
        top: 120px;
    }

    .back {
        font-size: 80px;
        padding-top: 30px;
        text-align: center;
    }

    .front {
        font-size: 45px;
        position: relative;
        top: -70px;
    }

    .tech {
        width: 95%;
        position: relative;
        top: 90px;
        left: 18px;
    }

    .stack {
        width: 20%;
        margin: 6px;
        font-size: 17px;
        border-radius: 5px;
    }

    .stack img {
        width: 26%;
        padding-right: 10px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1380px){
    .container {
        width: 97%;
        position: relative;
        top: 104px;
        left: 20px;
    }

    .backWord {
        font-size: 95px;
    }

    .frontWord {
        font-size: 50px;
        position: relative;
        top: -75px;
    }

    .intro {
        width: 94%;
        font-size: 19px;
        line-height: 38px;
        padding-left: 27px;
    }

    .info,
    .email {
        width: 94%;
        margin-top: 13px;
        font-size: 19px;
        line-height: 38px;
        padding-left: 27px;
    }

    .cvBtn {
        width: 150px;
        height: 50px;
        font-size: 17px;
        position: relative;
        top: 20px;
        left: 30px;
    }

    .connect {
        width: 265px;
        font-size: 17px;
        position: relative;
        top: -10px;
        left: 197px;
    }

    .socialMedia {
        display: flex;
        gap: 10px;
        position: relative;
        top: -107px;
        left: 385px;
    }

    .techstack {
        width: 100%;
        height: 0%;
        position: relative;
        top: 120px;
    }

    .back {
        font-size: 80px;
        padding-top: 30px;
        text-align: center;
    }

    .front {
        font-size: 45px;
        position: relative;
        top: -70px;
    }

    .tech {
        width: 95%;
        position: relative;
        top: 90px;
        left: 18px;
    }

    .stack {
        width: 14%;
        margin: 6px;
        font-size: 15px;
        border-radius: 5px;
    }

    .stack img {
        width: 26%;
        padding-right: 10px;
    }
}