.container {
    width: 100%;
    margin-top: 40px;
    border-top: 1px solid #F5EFEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    width: 280px;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    top: 33px;
}

.email {
    width: 350px;
    font-size: 25px;
    position: relative;
    top: 45px;
}

.socialmedia {
    display: flex;
    gap: 15px;
    position: relative;
    top: 70px;
    right: 15px;
}

.github,
.linkedin,
.twitter,
.instagram {
    padding: 10px;
    background: #F5EFEB;
    border-radius: 5px;
}

.rightsReserved {
    width: 97%;
    white-space: nowrap;
    padding: 20px;
    font-size: 17px;
    background-color: #F5EFEB;
    color: #2F4156;
    position: relative;
    top: 110px;
    overflow-x: hidden;
    display: flex;
}

.track{
    display: flex;
}

.track span {
    padding-right: 10px;
}


@media screen and (min-width: 360px) and (max-width: 412px) {

    .name {
        width: 280px;
        font-size: 25px;
        text-align: center;
    }

    .email {
        width: 350px;
        font-size: 20px;
        text-align: center;
    }

    .socialMedia {
        position: relative;
        right: 0px;
    }

    .github,
    .linkedin,
    .twitter,
    .instagram {
        padding: 7px;
    }

    .rightsReserved {
        width: 89%;
        padding-bottom: 30px;
        font-size: 13px;
        position: relative;
        top: 130px;
    }
}

@media screen and (min-width: 413px) and (max-width: 550px) {

    .name {
        width: 280px;
        font-size: 25px;
        text-align: center;
    }

    .email {
        width: 350px;
        font-size: 20px;
        text-align: center;
    }

    .socialMedia {
        position: relative;
        right: 0px;
    }

    .github,
    .linkedin,
    .twitter,
    .instagram {
        padding: 7px;
        background: #F5EFEB;
        border-radius: 5px;
    }

    .rightsReserved {
        width: 92%;
        padding-bottom: 30px;
        text-align: center;
        font-size: 15px;
        position: relative;
        top: 130px;
    }
}

@media screen and (min-width: 551px) and (max-width: 723px) {

    .name {
        width: 280px;
        font-size: 30px;
        text-align: center;
    }

    .email {
        width: 350px;
        font-size: 25px;
        text-align: center;
    }

    .socialMedia {
        position: relative;
        right: 0px;
    }

    .github,
    .linkedin,
    .twitter,
    .instagram {
        padding: 10px;
        background: #F5EFEB;
        border-radius: 5px;
    }

    .rightsReserved {
        width: 93%;
        padding-bottom: 30px;
        text-align: center;
        font-size: 20px;
        position: relative;
        top: 140px;
    }
}

@media screen and (min-width: 724px) and (max-width: 1024px) {

    .name {
        width: 280px;
        font-size: 30px;
        text-align: center;
    }

    .email {
        width: 350px;
        font-size: 25px;
        text-align: center;
    }

    .socialMedia {
        position: relative;
        right: 0px;
    }

    .github,
    .linkedin,
    .twitter,
    .instagram {
        padding: 10px;
        background: #F5EFEB;
        border-radius: 5px;
    }

    .rightsReserved {
        width: 95%;
        padding-bottom: 30px;
        text-align: center;
        font-size: 25px;
        position: relative;
        top: 140px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1380px){
    .name {
        width: 280px;
        font-size: 30px;
        text-align: center;
    }

    .email {
        width: 350px;
        font-size: 25px;
        text-align: center;
    }

    .socialMedia {
        position: relative;
        right: 0px;
    }

    .github,
    .linkedin,
    .twitter,
    .instagram {
        padding: 10px;
        background: #F5EFEB;
        border-radius: 5px;
    }

    .rightsReserved {
        width: 97%;
        padding-bottom: 30px;
        text-align: center;
        font-size: 22px;
        position: relative;
        top: 140px;
    }
}