@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Cascadia Mono", sans-serif;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #F5EFEB; 
}
 
::-webkit-scrollbar-thumb {
  background: #2F4156;
}

:root{
    --bg-color: #C8D9E6;
    --secondary-color: #F5EFEB;
    --text-color: #2F4156;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

